apiVersion: v1
kind: Pod
metadata:
  labels:
    run: ubiq
  name: ubiq
  namespace: default
spec:
  imagePullSecrets:
  - name: regcred
  containers:
  - image: 10.63.16.153:32003/ubiq:1.0
    name: ubiq
